/*
	Bootstrap v1.1
	Variables and mixins to bootstrap any new web development project.
*/


/* Variables
-------------------------------------------------- */

// Grays
@grayLighter:       #ccc;
@grayLight:         #777;
@gray:              #555;
@grayDark:          #333;
@black:             #000;

// Accent Colors
@blue:              #08b5fb;
@green:             #46a546;
@red:               #9d261d;
@yellow:            #ffc40d;
@orange:            #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;


/* Mixins
-------------------------------------------------- */

// Clearfix for clearing floats like a boss
.clearfix {
	zoom: 1;
	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
		content: ".";
	}
}

// Center-align a block level element
.center-block { 
	display: block;
	margin: 0 auto;
}

// Sizing shortcuts
.size(@height: 5px, @width: 5px) {
	height: @height;
	width: @width;
}
.square(@size: 5px) {
	.size(@size, @size);
}

// Input placeholder text
.placeholder(@color: @grayLight) {
	:-moz-placeholder {
		color: @color;
	}
	::-webkit-input-placeholder {
		color: @color;
	}
}

// Font Stacks
#font {
	.shorthand(@weight: normal, @size: 14px, @lineHeight: 20px) {
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
	.sans-serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
	.serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
		font-family: "Georgia", Times New Roman, Times, sans-serif;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
	.monospace(@weight: normal, @size: 12px, @lineHeight: 20px) {
		font-family: "Monaco", Courier New, monospace;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
}

// Border Radius
.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	-o-box-shadow: @shadow;
	box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

// Transforms
.transform(@tra) {
	-webkit-transform: @tra;
	-moz-transform: @tra;
	-ms-transform: @tra;
	-o-transform: @tra;
	transform: @tra;
}
.transform-origin(@trao) {
	-webkit-transform-origin: @trao;
	-moz-transform-origin: @trao;
	-ms-transform-origin: @trao;
	-o-transform-origin: @trao;
	transform-origin: @trao;
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: 20px) {
	-webkit-column-count: @columnCount;
	-webkit-column-gap: @columnGap;
	-moz-column-count: @columnCount;
	-moz-column-gap: @columnGap;
	-o-column-count: @columnCount;
	-o-column-gap: @columnGap;
	column-count: @columnCount;
	column-gap: @columnGap;
}

// Buttons
.button(@color: #f5f5f5, @textColor: #333, @textShadow: 0 1px 1px rgba(255,255,255,.75), @fontSize: 13px, @padding: 9px 15px 10px, @borderRadius: 6px) {
	display: inline-block;
	#gradient > .vertical(@color,darken(saturate(@color,10),10));
	padding: @padding;
	text-shadow: @textShadow;
	color: @textColor;
	font-size: @fontSize;
	line-height: 20px;
	.border-radius(@borderRadius);
	@shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.25);
	.box-shadow(@shadow);
	&:hover {
		background-position: 0 -15px;
		color: @textColor;
		text-decoration: none;
	}
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
	.background(@color: #000, @alpha: 0.5) {
		background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	}
	.border(@color: #000, @alpha: 0.5) {
		border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		background-clip: padding-box;
	}
}

// Gradients
#gradient {
	.horizontal (@startColor: #555, @endColor: #333) {
		background: @endColor;
		background: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); /* Konqueror */
		background: -moz-linear-gradient(left, @startColor, @endColor); /* FF 3.6+ */
		background: -ms-linear-gradient(left, @startColor, @endColor); /* IE10 */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); /* Safari 4+, Chrome 2+ */
		background: -webkit-linear-gradient(left, @startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
		background: -o-linear-gradient(left, @startColor, @endColor); /* Opera 11.10 */
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); /* IE6 & IE7 */
		-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor); /* IE8+ */
		background: linear-gradient(left, @startColor, @endColor); /* the standard */
		background-repeat: repeat-x;
	}
	.vertical (@startColor: #555, @endColor: #333, @startPos: 0%, @endPos: 100%) {
		background: @endColor;
		background: -khtml-gradient(linear, left @startPos, left @endPos, from(@startColor), to(@endColor)); /* Konqueror */
		background: -moz-linear-gradient(@startColor @startPos, @endColor @endPos); /* FF 3.6+ */
		background: -ms-linear-gradient(@startColor @startPos, @endColor @endPos); /* IE10 */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(@startPos, @startColor), color-stop(@endPos, @endColor)); /* Safari 4+, Chrome 2+ */
		background: -webkit-linear-gradient(@startColor @startPos, @endColor @endPos); /* Safari 5.1+, Chrome 10+ */
		background: -o-linear-gradient(@startColor @startPos, @endColor @endPos); /* Opera 11.10 */
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); /* IE6 & IE7 */
		-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor); /* IE8+ */
		background: linear-gradient(@startColor @startPos, @endColor @endPos); /* the standard */
		background-repeat: repeat-x;
	}
	.directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
		background: @endColor;
		background: -moz-linear-gradient(@deg, @startColor, @endColor); /* FF 3.6+ */
		background: -ms-linear-gradient(@deg, @startColor, @endColor); /* IE10 */
		background: -webkit-linear-gradient(@deg, @startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
		background: -o-linear-gradient(@deg, @startColor, @endColor); /* Opera 11.10 */
		background: linear-gradient(@deg, @startColor, @endColor); /* the standard */
		background-repeat: repeat-x;
	}
	.vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 0.5, @endColor: #c3325f) {
		background: @endColor;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
		background: -webkit-linear-gradient(@startColor, color-stop(@colorStop, @midColor), @endColor);
		background: -moz-linear-gradient(@startColor, color-stop(@midColor, @colorStop), @endColor);
		background-repeat: no-repeat;
	}
}

// Opacity
.opacity(@opacity: 50) {
	filter: e(%("alpha(opacity=%d)", @opacity));
	-khtml-opacity: @opacity / 100;
	-moz-opacity: @opacity / 100;
	opacity: @opacity / 100;
}

// Box sizing
.box-sizing(@box-sizing: border-box) {
	-webkit-box-sizing: @box-sizing;
	-moz-box-sizing: @box-sizing;
	box-sizing: @box-sizing;
}

// CSS3 Flexible Box Module
#flexbox {
	// #flexbox > .display-box; must be used along with other flexbox mixins
	.display-box {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: -o-box;
		display: box;
	}
	// Box align [ start | end | center | baseline | stretch ]
	.box-align(@alignment: stretch) {
		-webkit-box-align: @alignment;
		-moz-box-align: @alignment;
		-ms-box-align: @alignment;
		-o-box-align: @alignment;
		box-align: @alignment;
	}
	// Box direction [ normal | reverse | inherit ]
	.box-direction(@direction: normal) {
		-webkit-box-direction: @direction;
		-moz-box-direction: @direction;
		-ms-box-direction: @direction;
		-o-box-direction: @direction;
		box-direction: @direction;
	}
	// Box flex [ integer ]
	.box-flex(@flex: 0) {
		-webkit-box-flex: @flex;
		-moz-box-flex: @flex;
		-ms-box-flex: @flex;
		-o-box-flex: @flex;
		box-flex: @flex;
	}
	// Box flex group [ integer ]
	.box-flex-group(@group: 1) {
		-webkit-box-flex-group: @group;
		-moz-box-flex-group: @group;
		-ms-box-flex-group: @group;
		-o-box-flex-group: @group;
		box-flex-group: @group;
	}
	// Box orientation [ horizontal | vertical | inline-axis | block-axis | inherit ]
	.box-orient(@orientation: horizontal) {
		-webkit-box-orient: @orientation;
		-moz-box-orient: @orientation;
		-ms-box-orient: @orientation;
		-o-box-orient: @orientation;
		box-orient: @orientation;
	}
	// Box ordinal group [ integer ]
	.box-ordinal-group(@group: 1) {
		-webkit-box-ordinal-group:@group;
		-moz-box-ordinal-group: @group;
		-ms-box-ordinal-group: @group;
		-o-box-ordinal-group: @group;
		box-flex-ordinal-group: @group;
	}
	// Box pack  [ start | end | center | justify ]
	.box-pack(@pack: start) {
		-webkit-box-pack: @pack;
		-moz-box-pack: @pack;
		-ms-box-pack: @pack;
		-o-box-pack: @pack;
		box-pack: @pack;
	}
}

// Based on Eric Meyers' reset 2.0 - http://meyerweb.com/eric/tools/css/reset/index.html 
// & the Compass Reset utility - http://compass-style.org/reference/compass/reset/utilities/
#reset {
	.global-reset {
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			#reset > .reset-box-model;
			#reset > .reset-font; 
		}
		body {
			#reset > .reset-body; 
		}
		ol, ul {
			#reset > .reset-list-style; 
		}
		table {
			#reset > .reset-table; 
		}
		caption, th, td {
			#reset > .reset-table-cell; 
		}
		q, blockquote {
			#reset > .reset-quotation; 
		}
		a img {
			#reset > .reset-image-anchor-border; 
		}
		#reset > .reset-html5;
	}
	.reset-box-model {
		margin: 0;
		padding: 0;
		border: 0; 
	}
	.reset-font {
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	.reset-focus {
		outline: 0;
	}
	.reset-body {
		line-height: 1;
	}
	.reset-list-style {
		list-style: none;
	}
	.reset-table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.reset-table-cell {
		text-align: left;
		font-weight: normal;
		vertical-align: middle;
	}
	.reset-quotation {
		quotes: none;
		&:before, &:after {
			content: ""; 
			content: none;
		}
	}
	.reset-image-anchor-border {
		border: none;
	}
	.reset-html5 {
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
	}
}